@model IEnumerable<Expense_Tracker.Models.Category>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <div>
        <div id="budget-info" class="widget h-100 w-100">
            <p>Category Name: @ViewBag.CategoryName</p>
            <p>Budget: @ViewBag.Budget</p>
        </div>
    </div>
</div>


