@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionText"] = "+ New Category";
    ViewData["PageActionUrl"] = "/Category/AddOrEdit";
}

<style>
    .bg{
        background-color: rgb(220,53,69);
        color:white;
        border-radius: 10px;
        padding:5px;
        font-weight: bold;
        font-size: medium;
    }
    .bg2{
        background-color: rgb(25,135,84);
        color:white;
        border-radius: 10px;
        padding:5px;
        font-weight:bold;
        font-size:medium;
    }
</style>
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="7"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" cssClass="category-info-button" field="TitleWithIcon" data-id="Title"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="120px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    @if (ViewBag.CategoryName != null && ViewBag.Budget != null)
    {
        <div class="col-md-5">
            <div id="budget-info" class="widget h-100 p-3">
                <p>@ViewBag.CategoryName</p>
                <hr />
                <p class="badge bg-success">Budget: <b>₹@ViewBag.Budget</b></p>
                <p class="badge bg-danger">Total Expense: <b>₹@ViewBag.TotalTransactionsAmount</b></p>
                <hr />
                @{
                    decimal currentBalance = (decimal)ViewBag.CurrentBalance;
                    decimal displayBalance = currentBalance < 0 ? 0 : currentBalance;
                }
                <p>Current Balance: <b>₹@displayBalance</b></p>
                @if ((decimal)ViewBag.CurrentBalance < 0)
                {
                    <p class="bg">Overspent: <b>₹@Math.Abs((decimal)ViewBag.CurrentBalance)</b></p>
                    <img src="~/lib/over-removebg-preview.png" alt="Triangle" class="img-fluid" style="box-shadow: black 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;" />
                }
                else
                {
                    <p class="bg2">🎉 Your expense is under budget!</p>
                    <img src="~/lib/under-removebg-preview.png" class="img-fluid" style="box-shadow: black 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;" />
                }
            </div>
        </div>
    }
    else
    {
        <div class="col-md-5">
            <div class="widget h-100 d-flex justify-content-center align-items-center">
                <img src="~/lib/cat.png" alt="Triangle" class="img-fluid" style="max-width: auto; height: 60%" />
            </div>
        </div>
    }


<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
      <a class="btn btn-sm no-a-decoration" href="/Category/AddOrEdit/${CategoryId}">
        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #fff700"></i>
      </a>   
      <form action="/Category/Delete/${CategoryId}" method="post">
    @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-sm btn-link no-a-decoration"
                onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
          <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </button>
        <a class="btn btn-sm no-a-decoration" href="/Category/GetBudget/${CategoryId}">
          <i class="fa-solid fa-bars fa-lg" style="color: #fff"></i>
        </a>
      </form>
    </div>
</script>
