@model Expense_Tracker.Models.UserAccount

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/bootstrap5-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body style="color: #fff; background-image: url('/lib/bg.png'); background-size: cover; background-position: center;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-4">
            <div class="widget p-5" style="background-color: rgba(33, 43, 54, 0.9);">
                <!-- Transparent background -->
                <h1 class="text-center fw-bold" style="font-family: 'Poppins', sans-serif;">Login</h1><br />
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Display general model errors -->
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control bg-dark text-light" />
                        <span asp-validation-for="Username" class="text-danger"></span> <!-- Display username validation error -->
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control bg-dark text-light" />
                        <span asp-validation-for="Password" class="text-danger"></span> <!-- Display password validation error -->
                    </div>
                    <!-- Hyperlink for new account -->
                    <div class="text-left">
                        <a asp-controller="Account" asp-action="Register" class="text-light">Create new account?</a>
                    </div>
                    <br />
                    <div class="form-group">
                        <input style="font-family: 'Poppins', sans-serif; width: 30%" type="submit" value="Login" class="btn btn-success d-block mx-auto fw-bold" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>
        Swal.fire({
            title: 'Username or Password is incorrect !',
            @* text: '@Html.Raw(ViewBag.ErrorMessage)', // Display the error message *@
            icon: 'error'
        });
    </script>
}


