@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Expense tracker web-app is developed by: <br />Devang Gohil<br />92110133011<br />B.Tech - ICT (7th Sem)<br />Marwadi University, Rajkot-360003</p>
